/* /* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f5a623, #f76c6c); /* Gradient background for the whole page */
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  text-align: center;
  padding: 20px;
}


/* Header Styles */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #161515; /* White text color */
  background: linear-gradient(135deg, #d34234, #e2768e); /* Gradient background */
  padding: 10px;
  border-radius: 5px;
  display: inline-block; /* Ensure background only around text */
}


/* Main Content Styling */
main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); /* Full viewport height minus padding */
}

.footer {
  margin-top: 20px;
  color: #fff;
}

/* Responsive Styling */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .search-bar {
    padding: 15px;
  }
}
